{% extends './base.html' %}
{% block title_block %}MQTT Dashboard|Sign Up{% endblock title_block %}
{% block formid %}"sign-up"{% endblock formid %}
{% block formaction %} "{% url 'authentication:signup' %}"" {% endblock formaction %}
{% block formbodyblock %}
<fieldset class="uk-fieldset">
    <div class="uk-margin">
        <legend class="uk-legend">Sign Up</legend>
    </div>
    <div class="uk-margin">
        <label for="username" class="uk-form-label">Username</label>
        <input type="text" name="username" id="username" class="uk-input">
    </div>
    <div class="uk-margin">
        <label for="email" class="uk-form-label">Email</label>
        <input type="email" name="email" id="email" class="uk-input">
    </div>
    <div class="uk-margin">
        <label for="password" class="uk-form-label">Password</label>
        <input type="password" name="password" id="password" class="uk-input">
    </div>
    <div class="uk-margin">
        {% if err %}
        <h5 class="uk-form-danger">{{ err }}</h5>
        {% endif %}
    </div>
    <div class="uk-margin">
        <button type="submit" class="uk-button uk-button-primary">Sign Up</button>
    </div>
    <div class="uk-margin">
        <h6>Already have an account? <a href="{% url 'authentication:login' %}" class="uk-text-bold">Log In</a></h6>
    </div>
</fieldset>
{% endblock formbodyblock %}